header {
    text-align: center;
    color: #030303;
    
}

body {
    background-color: #da5c56;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main img {
    width: 300px;
    height: 300px;
    padding-left: 40%;
    padding-right: 40%;
    
}

.projeto01, .projeto02 {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #333333;
    text-align: center;
    color: #030101;

}
